:root {
  --blue: #0A0AFF;
  --blueSoft: #849bff;
  --pink: #f88989;
  --beige: #ede1d8;
  --bg: #f7f5f3;
  --text: #0A0A0A;
  --textSecondary: #2A2A2C;
  --textTertiary: #3A3A3C;
  --muted: #667085;
  --card: #fff;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  --simu-hover-solid: #f1f2ff;
  --simu-hover-gradient: linear-gradient(
    193.71deg,
    rgba(10, 10, 255, 0.1) -220.05%,
    rgba(237, 225, 216, 0.3) 71.56%
  );
}
